body {
    font-family: "Helvetica Neue", helvetica, arial;
    padding: 15px;
}

ul {
    list-style: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    height: 200px;
    width: 400px;
    overflow-y: auto;
}

ul li {
    line-height: 1.4;
    margin-bottom: 20px;
}

@-webkit-keyframes background-fade {
    0% {
        background:#ececec;
    }
    100% {
        background:#fff;
    }
}
@-moz-background-fade {
    0% {
        background:#ececec;
    }
    100% {
        background:#fff;
    }
}


@keyframes background-fade {
    0% {
        background:#ececec;
    }
    100% {
        background:#fff;
    }
}



.whack--event-log {
    border-radius: 3px;
    padding: 4px;
    animation: background-fade 1s forwards;
    -webkit-animation: background-fade 1s forwards;
    -moz-animation: background-fade 1s forwards;
}






